<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <title>
        REST APP
    </title>
</head>
<body>
    <div class="container mt-2">
        {{>_nav}}
        <header>
            <h2>yooo</h2>
        </header>
        <section>
            <h2>Message</h2>
            <p>
               {{message}}
            </p>
        </section>
    </div>
</body>
</html>